.todo-form {
  display: flex;
  padding: 1rem;
}

.todo-form input[type='text'] {
  background-color: var(--card-background-color);
  color: var(--color-todo-item);
  font-size: 18px;
  font-family: inherit;
  border: none;
  padding: 0 0 0 1rem;
  outline: none;
  width: 100%;
}

.todo-form input[type='radio'] {
  flex: 0 0 auto;
  margin-top: 0;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.15em solid var(--very-light-grayish-blue);
  border-radius: 50%;
}

.todo-form input::placeholder {
  color: var(--color-placeholder);

  justify-content: center;
}
