.todo-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  color: var(--color-action);
}

.todo-action > p {
  color: inherit;
  margin: 0;
}

.todo-action button {
  color: inherit;
  border: none;
  background-color: transparent;
  font: inherit;
  display: block;
}

.todo-action button:hover {
  cursor: pointer;
  color: var(--light-grayish-blue-hover);
}

.todo-action .filter {
  display: flex;
}

.todo-action .filter > div {
  padding: 0 0.4rem;
}

.todo-action .active {
  color: var(--bright-blue);
}
